ase
black
hydra-core
matminer
matplotlib
networkx
numpy
omegaconf
p-tqdm
pandas
pyarrow
pyg
pymatgen
python-dotenv
pytorch
pytorch-cuda==11.8
pytorch-lightning
pytorch-scatter
scikit-learn
scipy
smact
sympy
torchaudio
torchvision
tqdm
wandb
yapf